*.xreport
*.bgn
*.cmd_log
*.xmsgs
*.vho
*.xml
*.xrpt
*.txt
*.map
*.html
*.projectmgr
*.log
*.psg
*.lst
*.prj
*.ncd
*.debug
*.lso
*.par
*.twr
*.xwbt
*.csv
*.gise
*.mrp
*.ref
*.tcl
*.ppr
*.jou
*.drc
*.pad
*.syr
*.xbcd
*.xst
*.cmd
*.xpi
*.ptwx
*.ngc
*.edif
*.ngm
*.ut
*.pcf
*.ngd
*.bld
*.stx
*.twx
*.wpc
*.unroutes
*.xise
*.ngr
*.ngr