# ==== Clock inputs (CLK) ====
NET "Clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "Clock" PERIOD = 20.0ns HIGH 40%;

# ==== Character LCD (LCD) ====
NET "LCD_E" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RS" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RW" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
# LCD data connections are shared with StrataFlash connections SF_D<11:8>
NET "SF_D<0>" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<1>" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<2>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<3>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# ==== Switches  ====
NET "reset" loc = "v16" | iostandard = lvttl | pulldown;
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "Entrada" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;

# ==== UART  ====
NET "Tx" loc = "m14" | iostandard = lvttl | drive = 8 | slew = slow;
NET "Rx" loc = "r7" | iostandard = lvttl;